@import '../../../../mixins.scss';

.contacts-container {
  height: calc(100vh - 80px - 80px);
  border-radius: unset;
  padding: 0;
  box-shadow: none;
  justify-content: flex-start !important;
  overflow-y: scroll;

  @media (min-width:1000px) {
    height: calc(100vh - 80px);

  }
}

.contacts-frame {
  width: 90%;
  @include dFlex(column, flex-start, center);

  h4 {
    align-self: flex-start;
    padding: 0 24px;

  }
}

.contacts-inner-frame {
  @include dFlex(row, flex-start, center);
  gap: 2.1875rem;
  width: 100%;
  margin-top: 1rem;
  height: 75px;
  cursor: pointer;

  &:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    border-radius: 10px;
  }
}

.selected {
  background-color: #2A3647;
  color: #FFFFFF;
  border-radius: 10px;
}

hr {
  width: 100%;
  border: 1px solid #E5E5E5;
  margin: 0;
}

.circle {
  border-radius: 100%;
  width: 42px;
  height: 42px;
  @include dFlex(row, center, center);
  border: 1px solid #E5E5E5;
  margin-left: 8px;
  color: #FFFFFF;
  line-height: 120%;
}

.pre-details {
  @include dFlex(column, flex-start, flex-start);
  gap: 0.5rem;

}

.email-color {
  color: #29ABE2;
}

.group-container {
  @include dFlex(column, center, center);
  width: 100%;
}

.addButton-Desktop {
  display: none;

  @media (min-width:1248px) {
    cursor: pointer;
    @include dFlex(row, center, center);
    background-color: #2A3647;
    border-radius: 10px;
    width: 90%;
    height: 56px;
    color: #FFFFFF;
    margin-top: 1rem;
    font-size: 1.5rem;
    gap: 1rem;

    &:hover {
      background-color: #29ABE2;
    }

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }

}

.addButton {
  position: absolute;
  top: 75%;
  right: 5%;
  @include dFlex(row, center, center);
  background-color: #2A3647;
  border-radius: 100%;
  width: 56px;
  height: 56px;

  img {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  @media (min-width:1248px) {
    display: none;
  }
}

.user-details-comp {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 80px;
  background-color: #F6F7F8;
  animation: 'slide-in-custom' 1s ease-in-out;

  @media (min-width:1000px) {
    right: 0;
    top: 0;
    bottom: 0;

    left: 232px;
    margin-top: 80px;
  }

  @media (min-width:1248px) {
    display: none;
  }
}


.user-details-comp-desktop {
  display: none;

  @media (min-width:1248px) {

    display: block;

    position: unset;
    width: 100%;
    background-color: #F6F7F8;
  }

}

.main-container {
  height: calc(100vh - 80px - 80px);
  width: 100%;

  @media (min-width:1000px) {
    height: calc(100vh - 80px);
  }

  @media (min-width:1248px) {
    width: 50%;
    max-width: 550px;
  }
}


.frame {
  @include dFlex(row, flex-start, flex-start);

}
