@import '../../../../mixins.scss';


.logo-frame{
  width: 90%;
  padding: 1rem 0;
  @include dFlex(row, start, center);

  img{
    width: 54px;
    height: 54px;

    @media (min-width: 1000px)
    {
      width: 64px;
      height: 64px;
    }

    @media (min-width: 1248px)
    {
      width: 74px;
      height: 74px;
    }

    @media (min-width: 1440px)
    {
      width: 100px;
      height: 122px;
    }
  }
}

.frame{
  width: 100%;
  @include dFlex(column, space-between, center);
  height: unset;

}

.flying-img{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  z-index: 1;
  animation: flyingToLeftTopCorner 2s ease-in-out forwards;

  @media (min-width: 1000px)
    {
      width: 64px;
      height: 64px;
    }

    @media (min-width: 1248px)
    {
      width: 74px;
      height: 74px;
    }

    @media (min-width: 1440px)
    {
      width: 100px;
      height: 122px;
    }
}

@keyframes flyingToLeftTopCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top:1rem;
    left: 5%;
    transform: none;
  }
}
