@import '../../../../mixins.scss';

.main-container {
  padding: 0;
  background-color: unset;
  border-radius: unset;
  height: 100%;
}

.status-frame {
  @include dFlex(column, unset, center);
  gap: 1rem;
  width: 90%;
  padding: 1rem;
  border-radius: 10px;

  .status-container {
    width: 100%;
    @include dFlex(column, unset, flex-start);


  }
}

.input-frame {
  @include dFlex(column, center, center);
  position: relative;

  width: 100%;


}
.card {
  width: 200px;
  min-height: 180px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 0 10px 3px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  position: relative;
}
.nav-arrows {
  position: absolute;
  top: 10px;
  right: 10px;
  @include dFlex(column, center, center);
  gap: 0.5rem;
  .down {

    img {
      transform: rotate(90deg);

      width: 20px;
      height: 20px;
    }
  }
  .up {

    img {
      transform: rotate(-90deg);

      width: 20px;
      height: 20px;
    }
  }
}

.description-frame {
  color: #A8A8A8;
  font-size: 1rem;

  p {
    margin: 0;
    width: 220px;
    height: 38px;
  }
}

.progress-container {
  @include dFlex(row, space-between, center);
  font-size: 0.75rem;

  progress {
    width: 110px;
    height: 0.75rem;
  }
}

.empty-container {
  @include dFlex(row, center, center);
  width: 100%;
  height: 48px;
  border: 1px dashed #A8A8A8;
  color: #A8A8A8;
  background-color: #E7E7E7;
  border-radius: 10px;
}

.cards-container {
  @include dFlex(row, flex-start, center);
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  padding: 1rem 0;
}
.overlay-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  @include dFlex(row, center, center);
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  @include dFlex(row, center, center);
}

.acronym-prio-container {
  @include dFlex(row, space-between, center);
  width: 100%;
  margin-top: 1rem;

  .acronym-container {
    @include dFlex(row, center, center);

  }
}

.title {
  font-size: 1rem;
  font-weight: 700;

  p {
    margin: 0;
    width: 220px;
    height: 38px;
  }
}

.cat-bg {
  width: 113px;
  height: 27px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @include dFlex(row, center, center);
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}


.img-input{
  position: absolute;
  top: 10;
  right: 5%;
  @include dFlex(row, space-between, center);
  width: 75px;
  overflow: hidden;
  img {
    width: 20px;
    height: 20px;
  }
  .divider {
    width:  100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
  }

}
.headline {
  @include dFlex(row, space-between, center);
  width: 100%;

}

.head-search {
  @include dFlex(column, center, center);
  width: 90%;
  gap: 1rem;
}

.tasks-main-frame{
  @include dFlex(column, unset, center);
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
input[type="text"],
.dropdown,
input[type="date"],
input[type="email"],
textarea,
select {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  outline: none;
  height: 43px;

  &:focus {
    border: 1px solid #29ABE2;
  }
}
