@import '../../../../mixins.scss';


.summary-frame {
  width: 100%;
  @include dFlex(column, unset, center);
  gap: 2rem;

  @media (orientation:landscape) {
    overflow-y: scroll;
  }

  .summary-title-frame {
    width: 90%;
    @include dFlex(column, unset, flex-start);
    margin-top: 1rem;
    hr {
      width: 20%;
      margin: 0;
      align-self: flex-start;
      max-width: 10rem;
    }

    p {
      margin: 0;
    }
  }

  .cards-container {
    @include dFlex(column, unset, center);
    width: 90%;
    gap: 1rem;
    max-width: 400px;

    @media(min-width:1000px) {
      max-width: 500px;
    }

    @media(min-width:1400px) {
      max-width: 600px;
    }

    .card-value-container {
      @include dFlex(column, center, center);
    }

    .card-number {
      font-size: 2.9375rem;
      font-weight: 600;

      @media(min-width:1348px) {
        font-size: 4rem;
      }
    }

    .card-text {
      font-size: 0.875rem;
      font-weight: 400;
    }

    .card-container {
      @include dFlex(row, space-between, center);
      width: 100%;
      gap: 1rem;

      .first-line-card {
        width: 150px;
        height: 110px;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.1);
        @include dFlex(row, center, center);
        gap: 10px;

        &:hover {
          cursor: pointer;
          background-color: #2A3647;
          color: #FFFFFF;

          .summary-circles {
            background-color: #FFFFFF;

            img {
              filter: invert(1);
            }
          }
        }

        @media (orientation:landscape) {
          width: 110px;
          height: 80px;
        }

        @media(min-width:1000px) {
          width: 168px;
          height: 128px;
        }

        @media(min-width:1348px) {
          width: 228px;
          height: 168px;
          gap: 1rem;
        }

        @media(min-width:1648px) {
          width: 288px;
          gap: 1.5rem;
        }

        @media(min-width:2048px) {
          gap: 2rem;
          width: 380px;

        }
      }

      .third-line-card {
        width: 110px;
        height: 110px;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.1);
        @include dFlex(column, center, center);

        @media (orientation:landscape) {
          width: 90px;
          height: 80px;
        }

        &:hover {
          cursor: pointer;
          background-color: #2A3647;
          color: #FFFFFF;
        }

        @media(min-width:1000px) {
          width: 118px;
          height: 118px;
        }

        @media(min-width:1348px) {
          width: 168px;
          height: 168px;
        }
      }
    }

    .summary-circles {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include dFlex(row, center, center);
      background-color: #2A3647;

      @media (min-width:1000px) {
        width: 48px;
        height: 48px;
      }

      @media (min-width:1348px) {
        width: 58px;
        height: 58px;

        img {
          width: 32px;
          height: 32px;

        }
      }

      @media (min-width:2048px) {
        width: 68px;
        height: 68px;
      }
    }

    .urgent-circle {
      background-color: #FF0000;
    }

    .second-line-card {
      width: 100%;
      height: 110px;
      background-color: #FFFFFF;
      border-radius: 20px;
      box-shadow: 0px 0 4px 0 rgba(0, 0, 0, 0.1);
      @include dFlex(row, center, center);

      &:hover {
        cursor: pointer;
        background-color: #2A3647;
        color: #FFFFFF;
      }

      @media (orientation:landscape) {
        height: 80px;
      }

      @media(min-width:1000px) {
        height: 128px;
      }

      @media(min-width:1348px) {
        height: 168px;
      }



      .second-line-inner-card {
        @include dFlex(row, center, center);
        gap: 10px;
        height: 69px;
        width: 100%;

        @media(min-width:1000px) {
          gap: 3rem;
        }

        .divider {
          width: 1px;
          height: 100%;
          background-color: #E5E5E5;
        }

        .summary-urgent {
          @include dFlex(column, center, center);
        }

        .summary-urgent-date {
          @include dFlex(column, flex-start, flex-start);

          .upcomingDate {
            font-size: 1.1rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}


.summary-main-content {
  width: 100%;
  @include dFlex(row, center, center);

  @media (min-width:1000px) {
    width: 90%;
    @include dFlex(row, flex-start, center);
    margin-top: 5rem;
    gap: 4rem;
  }

  @media(min-width:1248px) {
    gap: 6rem;
  }

  @media(min-width:1348px) {
    gap: 8rem;
  }
}


.greetings {
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0;
  color: #2A3647;

  @media(min-width:1248px) {
    font-size: 2.2rem;
  }

  @media(min-width:1348px) {
    font-size: 2.5rem;
  }

  @media(min-width:1600px) {
    font-size: 3rem;
  }
}

.greetings-container {
  @include dFlex(column, center, flex-start);
  gap: 1rem;
  width: 100%;

  .greetings-name {
    font-size: 2.0rem;
    font-weight: 700;
    margin: 0;
    color: #29ABE2;

    @media(min-width:1248px) {
      font-size: 2.5rem;
    }

    @media(min-width:1348px) {
      font-size: 3.275rem;
    }

    @media(min-width:1600px) {
      font-size: 4rem;
    }
  }
}
