@import '../../../../mixins.scss';




@media (min-width: 1000px) {

  .content-container {
    @include dFlex(row,flex-start,center);
    width: 100%;


  }
}




app-footer {
  width: 100%;
  z-index: 999;
}
