<ng-container *ngIf="isAnimation">

  <div class="frame sign-in">
    <div class="main-container">
      <div>
        <h1>Log in</h1>
        <hr>
      </div>

      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="w-100 input-frame">
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"
            autocomplete="false">
          <img src="../../../../assets/img/inputs/mail.svg" alt="">
        </div>
        <div class="w-100 input-frame">
          <input id="password" [type]="showPassword ? 'password' : 'text'" formControlName="password"
            class="form-control" placeholder="Password" autocomplete="false">
          <img [src]="showPassword ? '../../../../assets/img/inputs/visibility_off.svg' : '../../../../assets/img/inputs/visibility.svg'" alt="" (click)="toggleShowPassword()">
        </div>
        <div class="checkBox-frame">
          <input type="checkbox" formControlName="remember" id="remember-me"> <span>Remember me</span>
        </div>


        <div class="btn-frame">
          <button type="submit" class="blue-btn" [disabled]="!signInForm.valid" [class.disabled]="!signInForm.valid">Log in</button>
          <a class="white-btn a-btn" (click)="guestLogin()">Guest Log in</a>
        </div>
      </form>
    </div>
    <div class="toSignUp-frame">
      <span>Not a Join user?</span><a routerLink="/signup" class="blue-btn a-btn"> Sign up</a>
    </div>
    <div class="legal-frame">
      <a routerLink="/privacypolicy">Privacy policy</a>
      <a routerLink="/legalnotice">Legal notice</a>
    </div>

  </div>
</ng-container>

<div *ngIf="errorCode  && errorMessage" class="overlay">
  <div class="error-frame">
    <h1>Error</h1>
    <hr>
    <span>{{errorCode}}</span>
    <p>{{errorMessage}}</p>
  </div>
</div>

<div *ngIf="loading">
  <div class="overlay">
    <div class="loader"></div>
  </div>
</div>
