<div class="frame">
  <div class="main-container">
    <a [routerLink]="['/login']" class="close-button-overlays close-btn-desktop" style="align-self: flex-end;">
      <img src="../../../assets/img/buttons/close_black.svg" alt="">
    </a>
    <div>
      <h1>Sign up</h1>
      <hr>
    </div>

    <form [formGroup]="signUpForm"  (ngSubmit)="onSubmit()">
      <div class="name-frame">
         <div class="name-input-frame">
          <input type="text"  id="firstName" formControlName="firstName" class="form-control" placeholder="First name" autocomplete="false" >
          <div class="inputdivider"></div>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last name" autocomplete="false" >
         </div>
          <img src="../../../../assets/img/inputs/person.svg" alt="">
      </div>
      <div class="w-100 input-frame">
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" autocomplete="false" >
        <img src="../../../../assets/img/inputs/mail.svg" alt="">
      </div>
      <div class="w-100 input-frame">
        <input [type]="showPassword ? 'text':'password'" id="password" formControlName="password" class="form-control" placeholder="Password"
          autocomplete="false" >
          <img [src]="showPassword ? '../../../../assets/img/inputs/visibility.svg' : '../../../../assets/img/inputs/visibility_off.svg'" alt="" (click)="toggleShowPassword(1)">

      </div>
      <div class="w-100 input-frame" >
        <input [type]="showPassword2 ? 'text':'password'" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm password"
          autocomplete="false" >
          <img [src]="showPassword2 ? '../../../../assets/img/inputs/visibility.svg' : '../../../../assets/img/inputs/visibility_off.svg'" alt="" (click)="toggleShowPassword(2)">

      </div>
      <div class="checkBox-frame">
        <input type="checkbox" formControlName="privacy_policy"> <span>I accept the <a href="/privacypolicy" target="_blank" class="highlight-policy">Privacy policy!</a></span>
      </div>


      <div class="btn-frame" >
        <button type="submit"  class="blue-btn" [disabled]="!signUpForm.valid"  [class.disabled]="!signUpForm.valid">Sign up</button>
      </div>


    </form>
  </div>

  <div class="legal-frame">
    <a routerLink="/privacypolicy">Privacy policy</a>
      <a routerLink="/legalnotice">Legal notice</a>
  </div>

</div>
<div *ngIf="errorCode && errorMessage" class="overlay">
  <div  class="error-frame">
    <h1>Error</h1>
    <hr>
    <span>{{errorCode}}</span>
    <p>{{errorMessage}}</p>
  </div>
</div>
<div *ngIf="successMessage" class="overlay">
  <div class="error-frame success-frame">
    <p>{{successMessage}}</p>
  </div>
</div>
<div *ngIf="loading">
  <div class="overlay">
    <div class="loader"></div>
  </div>
</div>
