<div class="addContactOverlay">

  <div class="addContactOverlayContent">
    <a (click)="close()" class="close-button-overlays close-btn-desktop">
      <img src="../../../../assets/img/buttons/close_black.svg"  alt="">
    </a>
    <div class="addContactOverlayTitle">
      <a (click)="close()" class="close-btn">
        <img src="../../../../assets/img/buttons/close.svg"  alt="">
      </a>
      <h1>Add Contact</h1>
      <p>Tasks are better with a team!</p>
      <hr>
    </div>

    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
      <div class="name-frame">
        <div class="name-input-frame">
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First name"
            autocomplete="false">
          <div class="inputdivider"></div>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last name"
            autocomplete="false">
        </div>
        <img src="../../../../assets/img/inputs/person.svg" alt="">
      </div>
      <div class="input-frame">
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email"
          autocomplete="false">
        <img src="../../../../assets/img/inputs/mail.svg" alt="">
      </div>
      <div class="input-frame">
        <input type="text" id="phone" formControlName="phone" class="form-control" placeholder="Phone"
          autocomplete="false">
        <img src="../../../../assets/img/inputs/call.svg" alt="">
      </div>

      <div class="btn-frame">
        <a (click)="close()" [class.close-hover]="close_btn_hover" (mouseenter)="close_btn_hover = true" (mouseleave)="close_btn_hover = false" class="white-btn a-btn addContact-close">Cancel
          <img [src]="close_btn_hover ? '../../../../assets/img/buttons/close_blue.svg': '../../../../assets/img/buttons/close_black.svg'" alt=""></a>
        <button type="submit" class="blue-btn" [disabled]="!createUserForm.valid" [class.disabled]="!createUserForm.valid">Create contact <img src="../../../../assets/img/buttons/check.svg"
            alt=""></button>
      </div>


    </form>

  </div>
  <div *ngIf="errorCode && errorMessage" class="overlay">
    <div  class="error-frame">
      <h1>Error</h1>
      <hr>
      <span>{{errorCode}}</span>
      <p>{{errorMessage}}</p>
    </div>
  </div>
  <div *ngIf="successMessage" class="overlay">
    <div class="error-frame success-frame">
      <p>{{successMessage}}</p>
    </div>
  </div>
  <div *ngIf="loading">
    <div class="overlay">
      <div class="loader"></div>
    </div>
  </div>
