@import '../../../../mixins.scss';

.name-input-frame {
  @include dFlex(row, start, center);
  width: 100%;
  height: 41px;

}

.name-frame {
  @include dFlex(row, unset, center);
  width: 95% !important;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #D1D1D1;
  position: relative;
  height: 39px;

  input {
    border: none;
    width: 100%;
  }

  img {
    position: absolute;
    top: 10;
    right: 5%;
    width: 30px;
  }
}
.disabled{
  cursor: not-allowed;
  background-color: #D1D1D1;
  color: #fff;
}
.input-frame {
  @include dFlex(column, center, center);
  position: relative;
  height: 41px;
  width: 95% !important;
  img {
    position: absolute;
    top: 10;
    right: 5%;
    width: 30px;
  }
}

.addContactOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.addContactOverlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 30px;
  width: 90%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
  height: calc(100% - 83px - 83px);

  @media (min-width: 1000px) {
    @include dFlex(row, center, center);
    width: 70%;
    max-width: 1024px;
    height:calc(100% - 80px);
    max-height: 600px;
    position: relative;

  }
  .addContactOverlayTitle {
    background-color: #2A3647;
    color: white;
    padding: 40px 24px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    @include dFlex(column, center, start);

    @media (min-width: 1000px) {
      width: 35%;
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 30px;
      padding: 0 24px;
    }

  }

  .addContactOverlayInput {
    margin-bottom: 20px;
  }

}

.close-btn{
  align-self: flex-end;

  @media (min-width: 1000px) {
    display: none;
  }
}

.addContact-close{
  display: none !important;

  @media (min-width: 1000px) {
    display: flex !important;
    align-items: center;
  }

}

.close-btn-desktop{
  display: none;

  @media (min-width: 1000px) {
    position: absolute;
    top: 2rem;
    right: 2rem;
    @include dFlex(row,center,center);
    width:46px;
    height:46px;

    img{
      width: 20px;
      height: 20px;
      object-fit: contain;
    }

    &:hover{
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
  }
}

.btn-frame {
  @media (min-width: 1000px) {
     width: 100%;
     @include dFlex(row, center, center);
     gap: 1rem;
   }
 }


form {
  width: 100%;
  @include dFlex(column, flex-start, center);
  gap: 0.5rem;
  margin-top: 3rem;
  height: 100%;

  @media (min-width: 1000px) {
    width: 65%;
    height: 100%;
    @include dFlex(column, center, center);
  }

}
input[type="text"], input[type="password"], input[type="email"]{
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  outline: none;
  height: 24px;

  &:focus {
    border: 1px solid #29ABE2;
  }
}


hr {
  width: 23%;
  border: 2px solid #29ABE2;
  margin: 0;
}

button , .addContact-close{
  margin-top: 1rem;
  @include dFlex(row, space-around, center);
}

.inputdivider {
  width:0 !important;
}



