@import '../../../../mixins.scss';

a.selected {
  background-color: green;
  color: white;
  font-weight: 600;
}

a.selected:nth-child(1) {
  background-color: red;
  font-weight: 600;
  color: white;
}

a.selected:nth-child(2) {
  background-color: orange;
  color: white;
  font-weight: 600;
}

a.selected:nth-child(3) {
  background-color: green;
}

select option:hover {
  background-color: blue;
}

.input-container {
  @include dFlex(column, center, flex-start);
  width: 100%;
  margin-bottom: 0.5rem;
}

.main-container {
  padding: 0;
  background-color: unset;
  border-radius: unset;

  @media (min-width: 1000px) {
    height: calc(100vh - 80px);
  }

  @media (min-width: 1248px) {
    display: none !important;
  }
}

.disabled {
  cursor: not-allowed;
  background-color: #D1D1D1;
  color: #fff;
}

.circle {
  border-radius: 100%;
  width: 42px;
  height: 42px;
  @include dFlex(row, center, center);
  border: 1px solid #E5E5E5;
  margin-left: 8px;
  color: #FFFFFF;
}

.circle-name {
  @include dFlex(row, center, center);
  gap: 1rem;
  height: 56px;
  width: 100%;
  label {
    @include dFlex(row, unset, center);
    width: 100%;
      cursor: pointer;

  }
}
.contact-circle{
  .circle{
    margin-right: -1rem;
  }
}
.contacts-overlay {
  @include dFlex(row, space-between, center);
  gap: 1rem;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  input[type="checkbox"] {
    cursor: pointer;
  }
  &:hover {
    color: #FFFFFF;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.color-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

input[type="text"],
.dropdown,
input[type="date"],
input[type="email"],
textarea,
select {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  outline: none;
  height: 43px;
  cursor: pointer;
  &:focus {
    border: 1px solid #29ABE2;
  }
}

select{
  width: -webkit-fill-available;
}

.dropdown {
  background-color: #FFFFFF;
  @include dFlex(row, space-between, center);
  cursor: pointer;
}

.dropdown-icon {

  font-size: 0.8em;
}

textarea {
  height: 77px;
  resize: vertical;
  cursor: pointer;
  padding-top: 1rem;
}

.prio-container {
  @include dFlex(row, center, center);
  width: 30%;
  height: 41px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #FFFFFF;
  gap: 1rem;
}

.prio-frame {
  width: 100%;
  @include dFlex(row, center, center);
  margin-top: 1rem;
  gap: 1rem;
}

form {
  width: 95%;
  @include dFlex(column, center, center);
  gap: 1rem;
  height: calc(100vh - 80px - 80px - 50px);
}

select,
.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  height: 47px;
  font-size: 0.75rem;
  gap: 0;
}

.option-container {
  @include dFlex(column, center, center);
  gap: 1rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.selected-contacts {
  @include dFlex(row, flex-start, center);
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-frame {
  @include dFlex(column, center, center);
  position: relative;
  width: 100%;

  .oneImg {
    @include dFlex(row, center, center);
    position: absolute;
    top: 10;
    right: 5%;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;

    }
  }

  .moreImg {
    @include dFlex(row, center, center);
    gap: 0.5rem;
    position: absolute;
    top: 10;
    right: 5%;

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    cursor: pointer;
  }
}

.upper-form {
  width: 100%;
  @include dFlex(column, unset, center);
  height: calc(100vh - 80px - 80px - 170px);
  width: 100%;
  overflow-y: scroll;

  @media(min-width: 1000px) {
    margin-top: 3rem;
  }
}

button {
  @include dFlex(row, space-around, center);
}

.btn-frame {
  @include dFlex(row, space-between, center);
  align-self: flex-start;
  width: 100%;
  max-width: 1024px;

  div {
    @include dFlex(row, flex-start, center);
  }
}

.success-frame {
  color: green;

  @media (min-width: 1000px) {
    font-size: 3rem !important;
  }
}

.headline {
  width: 90%;
  @include dFlex(row, flex-start, center);
  margin-top: 1rem;
}

.addTaskbtns {
  @include dFlex(row, center, center);
  gap: 1rem;
}

.edit-input {
  border-bottom: 1px solid blue;
}

.list-item {
  @include dFlex(row, space-between, center);
  width: 100%;
}

.subtask-frame {
  width: 100%;
  @include dFlex(row, center, center);
}

.subtask-list-container {
  width: 100%;
  position: relative;

  .option-img {
    position: absolute;
    right: 5%;
    top: 20px;
    gap: 0.5rem;
    @include dFlex(row, center, center);
  }
}

.addTask-container {
  height: calc(100vh - 80px - 80px);

  @media (min-width: 1000px) {
    height: unset;
  }
}

.main-container-desktop {
  display: none;

  @media (min-width: 1248px) {
    @include dFlex(column, flex-start, center);
  }

  form {

    @include dFlex(column, center, center);

    .upper-form {
      @include dFlex(column, flex-start, flex-start);
      width: 95%;
      overflow: hidden;

      .outer-input-frame {
        @include dFlex(row, space-between, flex-start);
        width: 100%;
        max-height: 700px;
        max-width: 1024px;


        .divider {
          height: 80%;
          border: 1px solid rgba(0, 0, 0, 0.3);
          margin-top: 2rem;
        }

        .left-side {
          width: 98%;
          @include dFlex(column, flex-start, flex-start);
          gap: 5rem;

          .input-container {
            width: 100%;
            max-width: 350px !important;
          }
        }

        .right-side {
          width: 98%;
          @include dFlex(column, flex-start, flex-end);
          gap: 2.8rem;

          .input-container {
            width: 100%;
            max-width: 350px !important;


          }
        }
      }

    }
  }
}
